<head>
<meta charset="utf-8" />
<title>{{title}}</title>
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="maximum-scale=2.0,initial-scale=1.0,width=device-width,height=device-height,user-scalable=yes" />
<meta name="app-mobile-web-app-capable" content="yes" />
<meta name="app-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="msapplication-tap-highlight" content="no" />
<link rel="stylesheet" href="css/app-default.css" media="screen">
<script type="text/javascript" src="libs/aim.1.9/aim.loader-min.js"></script>
<script>
// Delayed loading to ensure there is no render blocking
aim.loader.options({debug:true});
aim.loader
.script("libs/jquery")
.script("js/custom.jquery.plugin.js")
.load(function()
{
  // Ultimately this would broken down into an alternate partial being
  // only included for the page it represents
  var pnl = $('#pnl-userdetails');
  if(pnl.length > 0){  pnl.animateContent({speed:0.5}); }

});
</script>
</head>
