<!--
  ERROR DISPLAY PANEL
-->
<div id="pnl-login" class="app-pnl visible">
  <header><h2>{{title}}</h2></header>
  <section>
  {{message}}
  <br>{{error.status}}
  <br>{{error.stack}}
  </section>
</div>
