<!--
  LOGIN PANEL
  The panel display with a login button to allow the
  user to redirect to the oAuth2 login page
-->
<div id="pnl-login" class="app-pnl visible">
  <header><h2>{{title}}</h2></header>
  <section>
    <p>{{desc}}</p>
    <form action="./login" method="POST">
      <div class="frm-row rgt">
        <button type="submit">Login</button>
      </div>
    </form>
  </section>
</div>
