<!--
  ERROR DISPLAY PANEL
-->
<div id="pnl-login" class="app-pnl visible">
  <header><h2>Authentication Failed</h2></header>
  <section>
    The server could not authorize your request, please return to the login page.
  </section>
</div>
